html,
body {
  overflow: hidden;
}

body {
  background-color: #505050;
  font-family: sans-serif;
}

#top {
  position: relative;
  height: 42px;
  background-color: #3e3e3e;
  width: 100%;
  border-bottom: 2px solid #444;
  color: #fff;
  padding: 3px 16px;
  overflow: hidden;
  transform: translateZ(0);
  will-change: transform;
}

#user-avatar {
  height: 34px;
  width: 34px;
  border-radius: 23px;
  border: 1px solid;
  top: 0;
  float: left;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#user-display-name {
  color: #adadad;
  font-size: 16px;
  line-height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  left: 60px;
  white-space: nowrap;
}

.sign-btn {
  color: #fff;
  position: absolute;
  background-color: #3e3e3e;
  float: right;
  right: 0;
  padding: 0 16px 0 6px;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 34px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sign-btn:active,
.sign-btn:hover,
.sign-btn:focus {
  color: #eeff23;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
